In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

In [2]:
# Import API key
from config import api_key_weather

In [3]:
from citipy import citipy

In [4]:
# Output File (CSV)
output_data_file = "output_data/cities.csv"

In [5]:
# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [6]:
 # List for holding lat_lngs and cities
lat_lngs = []
cities = []
units = "metric"

In [7]:
# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

In [8]:
# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

In [9]:
# Print the city count to confirm sufficient count
len(cities)

633

In [10]:
url = "http://api.openweathermap.org/data/2.5/weather?"

In [11]:
print (cities)

['zhanaozen', 'san jose', 'ambilobe', 'albany', 'saint george', 'hasaki', 'taolanaro', 'ipixuna', 'rikitea', 'bubaque', 'goba', 'dikson', 'samusu', 'belushya guba', 'mataura', 'anadyr', 'ribeira grande', 'grindavik', 'cherskiy', 'mitu', 'yellowknife', 'hermanus', 'kudahuvadhoo', 'coquimbo', 'punta arenas', 'saint-philippe', 'iqaluit', 'ushuaia', 'bayan', 'puerto madero', 'zabaykalsk', 'bonthe', 'busselton', 'loikaw', 'javanrud', 'vila velha', 'hilo', 'sainte-anne-des-monts', 'xinqing', 'saskylakh', 'vaini', 'leningradskiy', 'manakara', 'bredasdorp', 'dzilam gonzalez', 'butaritari', 'cape town', 'sri aman', 'klaksvik', 'mopti', 'barawe', 'tiksi', 'serra talhada', 'bluff', 'torbay', 'jamestown', 'kapaa', 'port lincoln', 'atuona', 'dawlatabad', 'nchelenge', 'udachnyy', 'oranjestad', 'the valley', 'hofn', 'san rafael', 'vilcun', 'luderitz', 'qaanaaq', 'tura', 'half moon bay', 'barbar', 'inyonga', 'halifax', 'east london', 'talnakh', 'alofi', 'punta de bombon', 'saint-ambroise', 'opuwo', 'fortuna', 'lorengau', 'tasiilaq', 'hithadhoo', 'norman wells', 'kegayli', 'attawapiskat', 'teahupoo', 'kyra', 'barentsburg', 'arroyo', 'port hawkesbury', 'road town', 'pontes e lacerda', 'ibate', 'puerto ayora', 'dauriya', 'mar del plata', 'santarem', 'hervey bay', 'alexandria', 'provideniya', 'kodiak', 'waycross', 'upernavik', 'arraial do cabo', 'vila franca do campo', 'hobart', 'vaitape', 'cairns', 'svetlogorsk', 'farah', 'margate', 'port alfred', 'khatanga', 'chiredzi', 'pacific grove', 'nikolskoye', 'illoqqortoormiut', 'richards bay', 'salekhard', 'huadian', 'barrow', 'limon', 'codrington', 'tyumentsevo', 'antofagasta', 'hambantota', 'esperance', 'saint-leu', 'vao', 'fare', 'beringovskiy', 'chuy', 'castro', 'broome', 'thompson', 'victoria', 'el alto', 'saldanha', 'lompoc', 'rabo de peixe', 'tadine', 'faanui', 'colon', 'pevek', 'salalah', 'bogorodskoye', 'chokurdakh', 'tuktoyaktuk', 'fairbanks', 'porto novo', 'la sarre', 'chagda', 'ibotirama', 'kaitangata', 'mahebourg', 'sukpak', 'amderma', 'georgetown', 'stokmarknes', 'camapua', 'mana', 'shingu', 'kavaratti', 'gorno-chuyskiy', 'quatre cocos', 'rongcheng', 'alice springs', 'nanortalik', 'sitka', 'severo-kurilsk', 'tsihombe', 'baracoa', 'thinadhoo', 'teguise', 'boyle', 'zabol', 'tiarei', 'ostrovnoy', 'mafinga', 'acapulco', 'kupang', 'qiqihar', 'lodwar', 'katsuura', 'avarua', 'oranjemund', 'bambous virieux', 'haibowan', 'diamantino', 'bongandanga', 'chom bung', 'krasnorechenskiy', 'parabel', 'liverpool', 'macea', 'kurilsk', 'geraldton', 'catuday', 'kapra', 'awjilah', 'lavrentiya', 'yenagoa', 'bonavista', 'comodoro rivadavia', 'champasak', 'aklavik', 'mount isa', 'san juan', 'givors', 'general teran', 'coihaique', 'naze', 'huazolotitlan', 'llanes', 'rawlins', 'narsaq', 'tighina', 'ucluelet', 'lawrence', 'huarmey', 'lagoa', 'conway', 'carnarvon', 'jalu', 'ponta delgada', 'kavieng', 'qaqortoq', 'verkhoyansk', 'cabo san lucas', 'vallenar', 'mundo nuevo', 'lexington', 'toliary', 'umm kaddadah', 'hachinohe', 'brodokalmak', 'prudentopolis', 'polunochnoye', 'tuatapere', 'manadhoo', 'collecchio', 'maniitsoq', 'bulgan', 'noumea', 'ancud', 'itarema', 'sobinka', 'tongchuan', 'williams lake', 'ahuimanu', 'kuche', 'varhaug', 'coahuayana', 'rundu', 'pisco', 'tumannyy', 'jadu', 'sorvag', 'abaza', 'freeport', 'port blair', 'inta', 'muscatine', 'springdale', 'wakkanai', 'longyearbyen', 'skagastrond', 'funadhoo', 'port-cartier', 'hamilton', 'salinopolis', 'lebu', 'warqla', 'babanusah', 'tucuma', 'tarata', 'talara', 'chifeng', 'souillac', 'ust-kamchatsk', 'umm lajj', 'senneterre', 'sentyabrskiy', 'amravati', 'bengkulu', 'alimpesti', 'qasigiannguit', 'clyde river', 'ajdabiya', 'acajutla', 'eureka', 'kushiro', 'kula', 'lingao', 'riyadh', 'praia da vitoria', 'boyuibe', 'umzimvubu', 'aransas pass', 'magadan', 'havre-saint-pierre', 'myaundzha', 'las vigas', 'kuryk', 'gardez', 'oktyabrskiy', 'sao felix do xingu', 'tamandare', 'rio grande', 'asau', 'macamic', 'mendahara', 'vanimo', 'kharabali', 'meyungs', 'husavik', 'rio gallegos', 'port elizabeth', 'sabha', 'cidreira', 'aksarka', 'daru', 'nuuk', 'taburi', 'ahipara', 'lynchburg', 'boundiali', 'tenenkou', 'new norfolk', 'zalantun', 'ptuj', 'kariba', 'ust-tsilma', 'yar-sale', 'andernach', 'ust-kuyga', 'poum', 'harper', 'peniche', 'ninotsminda', 'bhigvan', 'khomeynishahr', 'namatanai', 'taltal', 'troitsko-pechorsk', 'cintalapa', 'nhamunda', 'kamenka', 'auki', 'okhotsk', 'senador jose porfirio', 'masallatah', 'gejiu', 'san jeronimo', 'mayumba', 'lahij', 'napier', 'san cristobal', 'kulhudhuffushi', 'shar', 'karatuzskoye', 'talwara', 'minot', 'isangel', 'college', 'ballina', 'nizhneyansk', 'sola', 'beboto', 'sakakah', 'saint-francois', 'zumarraga', 'mys shmidta', 'morehead', 'chimore', 'nam tha', 'andros town', 'faya', 'mangochi', 'pedernales', 'zeerust', 'srednekolymsk', 'abrau-dyurso', 'palenque', 'matagami', 'lazaro cardenas', 'manggar', 'bethel', 'ahmadpur east', 'garwa', 'leh', 'galiwinku', 'obo', 'rawson', 'mizan teferi', 'simao', 'tuggurt', 'calama', 'dinsor', 'potsdam', 'dunedin', 'vestmannaeyjar', 'macaboboni', 'carutapera', 'kruisfontein', 'atambua', 'akcakoca', 'stepnyak', 'eyl', 'chongwe', 'palmer', 'karlstad', 'saleaula', 'pochutla', 'jabiru', 'marigot', 'camana', 'ibra', 'sao joao da barra', 'goderich', 'kaniama', 'nizhniy tsasuchey', 'saint anthony', 'manaure', 'nanchang', 'montecristi', 'biskamzha', 'staszow', 'kamaishi', 'high level', 'mayo', 'rock sound', 'hurghada', 'la spezia', 'ponta do sol', 'yerbogachen', 'beisfjord', 'westport', 'labutta', 'muros', 'ulaangom', 'touros', 'petrinja', 'shimanovsk', 'yanan', 'bilibino', 'terney', 'lata', 'dong hoi', 'petropavlovsk-kamchatskiy', 'grajau', 'muli', 'banjar', 'tual', 'raudeberg', 'khani', 'gari', 'nanning', 'palabuhanratu', 'nouadhibou', 'caravelas', 'amapa', 'vardo', 'san lawrenz', 'vaitupu', 'bathsheba', 'bjerkvik', 'san quintin', 'kericho', 'phon', 'krasnyy kut', 'florence', 'trairi', 'hobyo', 'namibe', 'mehamn', 'perbaungan', 'milkovo', 'peace river', 'zyryanka', 'gueret', 'rawannawi', 'samfya', 'solovetskiy', 'gewane', 'nyurba', 'adrar', 'vetlanda', 'pringsewu', 'kindersley', 'tabiauea', 'murashi', 'salym', 'sao filipe', 'pahrump', 'goya', 'suba', 'yuzhou', 'sambava', 'jatiroto', 'jijiga', 'ciras', 'sheregesh', 'constantine', 'estelle', 'killybegs', 'kanigoro', 'canto do buriti', 'arman', 'pozo colorado', 'salina cruz', 'sembakung', 'neiafu', 'chimbote', 'louisbourg', 'cumra', 'portland', 'dibombari', 'molchanovo', 'airai', 'tilichiki', 'kupino', 'zaoyang', 'erzin', 'olhao', 'parrita', 'gotsu', 'ayagoz', 'zhigansk', 'smyshlyayevka', 'urumqi', 'hami', 'waingapu', 'turukhansk', 'ruatoria', 'wattegama', 'santa cruz', 'dingle', 'ilulissat', 'san patricio', 'ondjiva', 'aykhal', 'krasnokamensk', 'shelburne', 'machaneng', 'langarud', 'alugan', 'necochea', 'lyndon', 'gloversville', 'tianpeng', 'lolua', 'grand river south east', 'hualmay', 'kaohsiung', 'ketchikan', 'los llanos de aridane', 'churapcha', 'ternate', 'karoi', 'kovdor', 'siilinjarvi', 'dongsheng', 'goundam', 'yamunanagar', 'ust-nera', 'kirakira', 'hastings', 'aguimes', 'berlevag', 'pailon', 'russell', 'red bluff', 'guerrero negro', 'pervomayskiy', 'paamiut', 'tezu', 'san vicente de canete', 'guilin', 'benjamin aceval', 'pemangkat', 'te anau', 'cascais', 'grandview', 'buqayq', 'kandiari', 'temaraia', 'prince rupert', 'sobolevo', 'rio cuarto', 'flin flon', 'rexburg', 'qandahar', 'pervoye maya', 'dolbeau', 'bam', 'praia', 'trincomalee', 'talcahuano', 'agua verde', 'vastervik', 'sulangan', 'kainantu', 'ngunguru', 'taboga', 'nevelsk', 'sudzha', 'nianzishan', 'dali', 'taoudenni', 'uyovu', 'mrirt', 'kinablangan', 'constitucion', 'ginir', 'bayshore gardens', 'mastic', 'cervo', 'baykit', 'ulladulla', 'yilan', 'sept-iles', 'cap malheureux', 'zyryanovsk', 'komsomolskiy', 'deputatskiy', 'smithers', 'surab', 'batagay-alyta', 'yuanping', 'novyy urengoy']

In [12]:
df = pd.DataFrame(cities)
df.head()

              0
0     zhanaozen
1      san jose
2      ambilobe
3        albany
4  saint george

In [13]:
df["Cloudiness"] = ""
df["Country"] = ""
df["Date"] = ""
df["Humidity"] = ""
df["Lat"] = ""
df["Lng"] = ""
df["Max Temp"] = ""
df["Wind Speed"] = ""
df.head()

              0 Cloudiness Country Date Humidity Lat Lng Max Temp Wind Speed
0     zhanaozen
1      san jose
2      ambilobe
3        albany
4  saint george

In [14]:
# create a params dict that will be updated with new city each iteration
params = {"key": api_key_weather}

In [15]:
# Loop through the df 
for index, row in df.iterrows():
    city = row[0]
    base_url= "http://history.openweathermap.org/data/2.5/history/city?"
    query_url = url + "appid=" + api_key_weather + "&q=" + city
    
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()
    
    #country = weather_json["sys"]["country"]
    #date = weather_json["dt"]
    #humidity = weather_json["main"]["humidity"]
    #lat = weather_json["coord"]["lat"]
    #lng = weather_json["coord"]["lon"]
    #max_temp = weather_json["main"]["temp_max"]
    #cloudiness = weather_json["clouds"]["all"]
    #wind_speed = weather_json["wind"]["speed"]
    
    try:
        df.loc[index, "Cloudiness"] = weather_json["clouds"]["all"]
        df.loc[index, "Country"] = weather_json["sys"]["country"]
        df.loc[index, "Date"] = weather_json["dt"]
        df.loc[index, "Humidity"] = weather_json["main"]["humidity"]
        df.loc[index, "Lat"] = weather_json["coord"]["lat"]
        df.loc[index, "Lng"] = weather_json["coord"]["lon"]
        df.loc[index, "Max Temp"] = weather_json["clouds"]["all"]
        df.loc[index, "Wind Speed"] = weather_json["wind"]["speed"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [16]:
df.head()

,0,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,zhanaozen,0,KZ,1553320762,74,43.35,52.85,0,1.97
1,san jose,0,PH,1553320613,50,15.79,120.99,0,1.42
2,ambilobe,0,MG,1553320763,100,-13.19,49.05,0,1.42
3,albany,90,US,1553320743,79,42.65,-73.75,90,11.8
4,saint george,0,GR,1553320402,87,39.45,22.34,0,3.1